:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --main-title-color: #ffffff;
  --accent-color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* HEDER!!!!!!!!!!!!! */

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-one {
  color: #000;
}

/* силки!!!!!!!!!!!!!! */

.heder-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.heder-link:hover,
.heder-link:focus {
  color: var(--accent-color);
}
.heder-mail-tel {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.heder-mail-tel:hover,
.heder-mail-tel:focus {
  color: var(--accent-color);
}
/* герой!!!!!!!! */

.hero {
  background-color: #2f303a;
}
.hero-text {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.hero-button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--main-title-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* опис!!!!!!!!! */

.about-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.about-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/* РОБОТА!!!!!!! */
.work-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* ПРАЦІВНИКИ!!!!!! */
.team {
  background-color: #f5f4fa;
}
.team-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.team-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.team-text-work {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/* ФУтер!!!!!!!! */
.footer {
  background: #2f303a;
}
.logo-two {
  color: var(--main-title-color);
}
.footer-address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.footer-mail-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
